<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p>This is the dashboard</p>
    <script src="../static/dashboard.js"></script>
    <div id="row">
        Email : <strong class="gfg"> {{ session['email'] }} </strong>| <button onclick="editEmail()">Edit Email</button>
    </div>
    <form id="userForm" hidden>
        <label for="email">Email</label>
        <input type="text" id="email" name="email" value="{{session['email']}}" required />
        <div id="emailError"></div>

        <button type="submit" onclick="changeEmail()">Change email</button>
    </form>
    <a href="{{ url_for('logout') }}"> Logout</a>
</body>

</html>